$link-color: #009688;
$link-hover-decoration: none;
$label-margin-bottom: 0;

$light-gray: #e5e5e5;
$dark-gray: #545454;
$highlight-color: #33CEFF;
$selected-option-color: #0162E1;

$card-height: 100%;