:host {
    ::ng-deep {
        table.dataTable {
            font-size: 0.8em;
        }

        table.dataTable thead th, table.dataTable thead td {
            border-bottom: 0;
            text-transform: capitalize;
            white-space: nowrap;
        }

        th.td-right {
            text-align: right;
        }

        th.td-left {
            text-align: left;
        }

        table.dataTable tbody td {
            white-space: nowrap;
            padding: 3px 10px;
        }

        table.dataTable tbody td.td-right {
            text-align: right;
        }

        table.dataTable.no-footer {
            border-bottom: 0;
        }

        .dataTables_wrapper, .no-footer {
            height: 0;
            overflow: visible;

            .DTFC_ScrollWrapper {
                .DTFC_RightBodyLiner {
                    overflow-y: hidden !important;
                }
            }
        }

        .dataTables_wrapper.no-footer {
            .dataTables_scrollBody {
                border-bottom: none;
            }

            .dt-buttons {
                width: 200px;
        
                .dt-button {
                    // color: #000000;
                    padding: 0 0.25em;
                }
            }
        }
    }
}

.invalid-dates {
    display: inline-block;
    font-size: 0.95em;
}