// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~material-design-icons/iconfont/material-icons.css';
// @import './layout/theme';
@import './abstracts/variables';
@import 'bootstrap/scss/functions';
$enable-negative-margins: true;
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/reboot';
@import "bootstrap/scss/grid";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/card";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
@import './base/reset';

.loading {
    color: $link-color;
    font-size: 1.5em;
}

.mat-form-field-label {
    text-transform: capitalize;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $link-color;
}

.material-icons {
    font-size: unset;
}

.module-icon {
    color: $link-color;
}

.mat-optgroup {
    .mat-optgroup-label {
        color: $link-color;
    }
}

.date-selector {
    display: inline-block;

    label {
        display: block;
        font-size: 0.9em;
        text-align: center;
    }
    
    select {
        background: #FFF;
        border: 1px solid $light-gray;
        border-radius: 0;
        font-size: 0.8em;
        height: 2rem;
        line-height: 1.5;
        min-width: 75px;
        padding: 0rem 1.75rem 0rem .75rem;
    }
}