// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~material-design-icons/iconfont/material-icons.css';
@import './layout/theme';
@import './abstracts/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities";
@import './base/reset';

.mat-form-field-label {
    text-transform: capitalize;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: $link-color;
}

.material-icons {
    font-size: unset;
}

.module-icon {
    color: $link-color;
}

.mat-optgroup {
    .mat-optgroup-label {
        color: $link-color;
    }
}

.date-selector {
    .mat-form-field-infix {
        width: 100px;
    }
}