// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~material-design-icons/iconfont/material-icons.css';
@import './layout/theme';
@import './abstracts/variables';
@import 'bootstrap/scss/functions';
$enable-negative-margins: true;
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/reboot';
@import "bootstrap/scss/grid";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/card";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
@import './base/reset';


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

app-root {
    display: block;
    height: 100%;
}

.loading {
    color: $link-color;
    font-size: 1.5em;
}

:root {
    --accent-text: rgb(34, 118, 124);
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-label {
    text-transform: capitalize;
}

.mat-mdc-progress-spinner circle,
.mat-mdc-progress-spinner circle {
    stroke: $link-color;
}

.material-icons {
    font-size: unset;
}

.module-icon {
    color: $link-color;
}

.mat-mdc-optgroup {
    .mat-mdc-optgroup-label {
        color: $link-color;
    }
}

.main-content {
    max-width: 720px;
}

.font-sm {
    font-size: 14px;
}