@import 'abstracts/variables';

#wrapper {
    width: 960px;
    overflow-x: auto;
    overflow-y: hidden;

    #sidebar {
        // border-right: 1px solid $link-color;
        width: 225px;
        display: inline-block;
    }

    #content-col {
        width: 730px;
        min-height: 500px;
        display: inline-block;
        vertical-align: top;

        #instructions {
            font-size: 0.9em;
            margin-left: 10px;
            width: 80%;
        }
    }

    .additional-buttons {
        .btn {
            padding: 0 0.25em;
        }
        
        #back-link {
            &:hover {
                color: #FFF;
            }
        }
    }

    #get-data {
        display: inline-block;
    }

    #selectors {
        margin-left: 5px;

        .invalid-dates {
            display: inline-block;
        }
    }
}