<div id="wrapper" class="d-flex flex-wrap">
    <div id="sidebar">
        <div class="additional-buttons d-flex justify-content-end mt-1 mb-n4">
            <button type="button" class="btn btn-outline-info btn-sm clear-table"
                (click)="clearSelections()">Clear</button>
        </div>
        <app-dimension-selector [selectedModule]="selectedModule" (updateDimensionSelection)="updateDimensions($event)">
        </app-dimension-selector>
    </div>
    <div id="content-col">
        <div class="additional-buttons d-flex justify-content-end mt-1 mb-n4">
            <!-- <a id="back-link" [routerLink]="['/']" class="btn btn-outline-info btn-sm ml-1"><span
                    class="fas fa-arrow-left"></span> Home</a> -->
            <a href ="http://dbedt.hawaii.gov/visitor/tourismdata/" id="back-link" class="btn btn-outline-info btn-sm ml-1">
                <span class="fas fa-arrow-left"></span> Home</a>
        </div>
        <div *ngIf="!displayTable" id="instructions">
            <p> To generate a table, make at least one selection in each of the categories to the left, then choose a
                frequency and click the “Get Data” button. The table will automatically update when additional
                selections are made, if the data are available. The data can be downloaded or printed by using the
                buttons on the top left of the table. To start over, click the “Clear” button.</p>
        </div>
        <app-module-table *ngIf="displayTable" [tableData]="tableData" [tableColumns]="tableColumns"
            [dateArray]="dateArray" [dimensions]="selectedDimensions">
        </app-module-table>
    </div>
    <div id="selectors" class="d-flex flex-row align-items-end">
        <app-frequency-selector [freqs]="frequencies" (updateFrequencySelection)="updateFrequency($event)">
        </app-frequency-selector>
        <app-year-selector *ngIf="!noData" [rangeLabel]="'From'" [dates]="datesSelected.fromYearList"
            [(selectedYear)]="datesSelected.selectedStartYear"
            (updateYearSelection)="updateDateAndTable($event, 'selectedStartYear')">
        </app-year-selector>
        <app-quarter-selector *ngIf="!noData && selectedFrequency === 'Q'" [quarters]="datesSelected.fromQuarterList"
            [(selectedQuarter)]="datesSelected.selectedStartQuarter"
            (updateQuarterSelection)="updateDateAndTable($event, 'selectedStartQuarter')">
        </app-quarter-selector>
        <app-month-selector *ngIf="!noData && selectedFrequency === 'M'" [months]="datesSelected.fromMonthList"
            [(selectedMonth)]="datesSelected.selectedStartMonth"
            (updateMonthSelection)="updateDateAndTable($event, 'selectedStartMonth')">
        </app-month-selector>
        <app-year-selector *ngIf="!noData" [rangeLabel]="'To'" [dates]="datesSelected.toYearList"
            [(selectedYear)]="datesSelected.selectedEndYear"
            (updateYearSelection)="updateDateAndTable($event, 'selectedEndYear')">
        </app-year-selector>
        <app-quarter-selector *ngIf="!noData && selectedFrequency === 'Q'" [quarters]="datesSelected.toQuarterList"
            [(selectedQuarter)]="datesSelected.selectedEndQuarter"
            (updateQuarterSelection)="updateDateAndTable($event, 'selectedEndQuarter')">
        </app-quarter-selector>
        <app-month-selector *ngIf="!noData && selectedFrequency === 'M'" [months]="datesSelected.toMonthList"
            [(selectedMonth)]="datesSelected.selectedEndMonth"
            (updateMonthSelection)="updateDateAndTable($event, 'selectedEndMonth')">
        </app-month-selector>
        <p class="text-danger invalid-dates" *ngIf="invalidDates">{{invalidDates}}</p>
        <div id="get-data">
            <span *ngIf="noSeriesAvailable" class="text-danger mr-1" aria-hidden="true">No Series Available</span>
            <span *ngIf="loading" class="loading fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></span>
            <button type="button" class="btn btn-outline-info btn-sm" (click)="showTable()"
                [disabled]="noData || displayTable ? true : false">Get Data</button>
        </div>
    </div>
</div>