<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    DBEDT Tourism Datawarehouse
  </h1>
</div>
<div>
  <a [routerLink]="['/module/ade']">Visitor Trends (Arrivals/Days/Expenditures)</a>
  <a [routerLink]="['/module/char']">Visitor Characteristics</a>
  <a [routerLink]="['/module/airseat']">Air Seats to Hawaii</a>
  <a [routerLink]="['/module/exp']">Expenditure Patterns</a>
  <a [routerLink]="['/module/hotel']">Hotel Performance</a>
</div>

<router-outlet></router-outlet>
