<div class="container">
  <div class="module-list row row-cols-1">
    <div class="col col-12 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><span class="material-icons module-icon">trending_up</span></h1>
        <p class="card-text"><a class="stretched-link" title="Visitor Trends (Arrivals/Days/Expenditures)" [routerLink]="['/module/ade']">Visitor Trends (Arrivals, Days, Expenditures)</a></p>
      </div>
    </div>
    </div>
    <div class="col col-12 col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><span class="material-icons module-icon">flight</span></h1>
        <p class="card-text"><a class="stretched-link" title="Air Seats to Hawaii" [routerLink]="['/module/airseat']">Air Seats to Hawaii</a></p>
      </div>
    </div>
    </div>
    <div class="col col-12 col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><span class="material-icons module-icon">location_city</span></h1>
        <p class="card-text"><a class="stretched-link" title="Hotel Performance" [routerLink]="['/module/hotel']">Hotel Performance</a></p>
      </div>
    </div>
  </div>
  <div class="col col-12 col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><span class="material-icons module-icon">people</span></h1>
        <p class="card-text"><a class="stretched-link" title="Visitor Characteristics" [routerLink]="['/module/char']">Visitor Characteristics</a></p>
      </div>
    </div>
  </div>
  <div class="col col-12 col-sm-4">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><span class="material-icons module-icon">attach_money</span></h1>
        <p class="card-text"><a class="stretched-link" title="Expenditure Patterns" [routerLink]="['/module/exp']">Expenditure Patterns</a></p>
      </div>
    </div>
    </div> 
  </div>
</div>