<div class="container-fluid">
  <div class="card-deck">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><i class="material-icons module-icon">trending_up</i></h1>
        <p class="card-text"><a class="stretched-link" title="Visitor Trends (Arrivals/Days/Expenditures)" [routerLink]="['/module/ade']">Visitor Trends (Arrivals/Days/Expenditures)</a></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><i class="material-icons module-icon">flight</i></h1>
        <p class="card-text"><a class="stretched-link" title="Air Seats to Hawaii" [routerLink]="['/module/airseat']">Air Seats to Hawaii</a></p>
      </div>
    </div>
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title mb-0"><i class="material-icons module-icon">location_city</i></h1>
        <p class="card-text"><a class="stretched-link" title="Hotel Performance" [routerLink]="['/module/hotel']">Hotel Performance</a></p>
      </div>
    </div>
  </div>
</div>