<div *ngIf="selectors$ | async as selectors; else loading">
  <ng-template ngFor let-selector [ngForOf]="selectors">
    <mat-form-field #dimension [id]="selector.name">
      <mat-label>{{selector.name}}</mat-label>
      <mat-select (selectionChange)="change($event)" [id]="selector.name" [formControl]="dimensionSelector" multiple>
        <mat-option *ngFor="let opt of selector.options" [value]="opt">{{opt.nameW}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
</div>
<ng-template #loading>
    <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>