<div id="dimension-selectors" *ngIf="selectors$ | async as selectors; else loading">
  <ng-template ngFor let-selector [ngForOf]="selectors">
    <label>{{selector.name}}</label>
    <select #dimension [name]="selector.name" class="form-control" [(ngModel)]="selectedOptions[selector.name]"
      multiple [id]="selector.name">
      <ng-container *ngFor="let opt of selector.options; let i = index;">
        <ng-container *ngIf="!opt.children">
          <option [ngValue]="opt" (mousedown)="false" (click)="optSelectMouseDown($event, opt, selector.name, selectors)">
            {{opt.nameW}}</option>
        </ng-container>
        <ng-container *ngIf="opt.header">
          <optgroup (click)="toggle($event, opt)"
            label="{{opt.active ? optgroupCollapse + ' ' + opt.nameW : optgroupExpand + ' ' + opt.nameW}}">
            <option [class.active]="opt.active" *ngFor="let child of opt.children" [ngValue]="child" (mousedown)="false"
              (click)="optSelectMouseDown($event, child, selector.name)">{{child.nameW}}</option>
          </optgroup>
        </ng-container>
      </ng-container>
    </select>
  </ng-template>
</div>
<ng-template #loading>
  <mat-spinner [diameter]="50"></mat-spinner>
</ng-template>